@{
    ViewData["Title"] = "Upload CSV";
}

<h1 class="text-center my-4">Upload CSV</h1>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger text-center">@TempData["ErrorMessage"]</div>
}


<div class="d-flex justify-content-center">
    <form method="post" enctype="multipart/form-data" asp-action="UploadCSV" asp-controller="Upload" class="w-50">
        <div class="mb-4">
            <label for="csvFile" class="form-label">Choose a CSV file to upload:</label>
            <input type="file" name="csvFile" id="csvFile" class="form-control" required />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Upload</button>
        </div>
    </form>
</div>
