@{
    ViewData["Title"] = "Home";
}

<div class="text-center my-5">
    <h1 class="display-4">Welcome to Contact Manager</h1>
    <a href="@Url.Action("Index", "Contacts")" class="btn btn-primary btn-lg mt-4">Go to Contacts</a>
</div>
